*{
	font-family: Arial, Helvetica, sans-serif;
}

/* Nav */

.rigth{
	text-align: right;
}

nav a {
	color: #FFF;
}
 /* Editando bootstrap */
 .row {
    padding-right: -15px;
    margin-left: -15px;
}

/*pagina principal*/
h2{
	font-size: 21px;
}

.articulos{
	display: flex;
	flex-flow: row wrap;
}

.vermas{
	margin: 20px;
}

.milargo{
	max-height: 100px;
}

.thumbnail{
	border: none;
}

.tamano{
	width: 120px;
	height: 200px;
}

.titulo{
	font-size: 21px;
	text-align: center;
	margin-top: 60px;
}

.descripcion{
	font-size: 18px;
	text-align: center;
}

.lomas{
	background: #F9F9F9;
	float: right;
	height: 1700px;
}

.ideas{
	font-size: 13px;
}

.ofertas{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.teles{
	margin-left: 60px;
	color: #c9c9c9;
	font-size: 30px;
}

.tarjetas{
	margin: 20px;
	text-align: center;
}


/*css nav*/
#buttonSearch{
	background-color:  #FEBD69;
}

#nav-logo{
	position: relative;
    float: left;
    line-height: 0;
    height: 100%;
    width: 192px;
    padding: 13px 18px 0 27px;
}

#nav-logo a {
	position: absolute;
    top: 40px;
    left: 120px;
    font-size: 11px;
    color: #48A3C6;
}

.size-large{
	height: 10px;
}

.itemCenter-nav{
	text-align: center;
}

.item-text{
	color: white;
}
.item-text:hover{
	color:#BDBDBD;
}
.item-green{
	color: #01DF3A;
}
.space{
	padding-right: 30px;
}
.nav-tools{
	position: absolute;
	bottom: 20px;
    left: 12px;
    font-size: 11px;
}
.item-car{
	color: white;
}
/*css nav termina*/

/*carrito*/
.image{
  width:100%;
}

.text-green{
  color: #6DB782;
}
.btn-color{
  background-color: #F3CC6C;
}
.bold{
   font-weight: bold;
}
/*termina CARRITO*/
/*FOOTER*/
footer > a:hover{
  background-color: #5a6b7f ;
}
.text-white{
  color: #fff;
}
.text-white a{
  color: #fff;
}
footer a:hover{
  color: #FFF;
}
.aFooter{
  color: #FFF;
  font-size: 83%;
}
footer p{
  color: #767676 ;
}
.copyright{
  background-color:#131a22 ;
  padding-bottom: 1%;
  padding-top: 1%;
}
.color2{
  background-color: #232F3E ;
}
.color1{
  background-color: #37475A ;
}
/*termina footer*/
