*{
	font-family: Arial, Helvetica, sans-serif;
}
/* footer*/
.footer-header{
	background-color: #37475A;
	width: 100%;
	margin-bottom: 2%;
}
a p{
	font-size: 100%;
	margin-top: 1%;
	margin-bottom: 0;
}
footer > a:hover{
	background-color: #5a6b7f;
}
.white-text{
	color: #fff;
}
footer a:hover{
	color: #FFF;
	font-size: 83%;
}
.aFooter{
	color: #FFF;
	font-size: 83%;
}
footer p{
	color: #767676;
}
.copyright{
	background-color:#131a22;
	padding-bottom: 5%;
	padding-top: 1%;
}
.color2{
	background-color: #232F3E;
}
.color1{
	background-color: #37475A;
}
footer ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
/*termina footer*/