*{
	font-family: Arial, Helvetica, sans-serif;
}
/*pagina principal*/
.milargo{
	max-height: 100px;
}

.thumbnail{
	border: none;
}

.tamano{
	width: 150px;
	height: 200px;
}

.titulo{
	font-size: 21px;
	text-align: center;
	margin-top: 60px;
}

.descripcion{
	font-size: 18px;
	text-align: center;
}


/* footer*/
.footer-header{
	background-color: #37475A;
	width: 100%;
}
a p{
	font-size: 100%;
	margin-top: 1%;
	margin-bottom: 0;
}
footer > a:hover{
	background-color: #5a6b7f;
}
.white-text{
	color: #fff;
}
footer a:hover{
	color: #FFF;
	font-size: 83%;
}
.aFooter{
	color: #FFF;
	font-size: 83%;
}
footer p{
	color: #767676;
}
.copyright{
	background-color:#131a22;
	padding-bottom: 5%;
	padding-top: 1%;
}
.color2{
	background-color: #232F3E;
}
.color1{
	background-color: #37475A;
}
footer ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
/*termina footer*/
/*css nav*/
#buttonSearch{
	background-color:  #FEBD69;
}

#nav-logo{
	position: relative;
    float: left;
    line-height: 0;
    height: 100%;
    width: 192px;
    padding: 13px 18px 0 27px;
}

#nav-logo a {
	position: absolute;
    top: 40px;
    left: 120px;
    font-size: 11px;
    color: #48A3C6;
}

.size-large{
	height: 10px;
}

.itemCenter-nav{
	text-align: center;
}

.item-text{
	color: white;
}
.item-text:hover{
	color:#BDBDBD;
}
.item-green{
	color: #01DF3A;
}
.space{
	padding-right: 30px;
}
.nav-tools{
	position: absolute;
	bottom: 20px;
    left: 12px;
    font-size: 11px;
}
.item-car{
	color: white;
}
/*css nav termina*/

